body {
    margin: 0;
    padding: 0;
    background-color: #3498db; /* Blue background */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.heart-container {
    width: 100vw; /* Full page width */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column; /* Centered content vertically */
    text-align: center;
}

.heart {
    font-size: 45em; /* 3 times bigger heart size */
    color: #e74c3c; /* Red color */
    cursor: pointer;
    animation: heartbeat 1s infinite; /* Start heartbeat animation automatically */
}

.scroll-down {
    position: absolute;
    bottom: 20px;
}

.scroll-down a {
    text-decoration: none;
    color: #fff; /* White color for text */
    font-size: 24px;
    cursor: pointer;
}

@keyframes heartbeat {
    0%, 20%, 50%, 80%, 100% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(0.9);
    }
}
